- @tweets.each do |tweet|
	%div.edit
		%span= tweet.id
		%span= tweet.entry
		%a{:href => "/#{tweet.id}/edit"}= '編集'
	%div.delete
		%form{:method => "post", :action => "/#{tweet.id}/delete"}
			%input{:name => 'authenticity_token', :value => "#{session[:csrf]}", :type => 'hidden'}
			%input{:type => "hidden", :name => "_method", :value => "delete"}
			%input{:type => "submit", :value => "delete"}
	%br
%form.write{:action => '/create', :method => 'post'}
	%h2= '書き込む'
	%input{:name => 'authenticity_token', :value => "#{session[:csrf]}", :type => 'hidden'}
	%input{:name => 'entry', :type => 'text'}
	%input{:value => '送信', :type => 'submit'}
